@model Client

@{
    ViewData["Title"] = "Create Customer";
}

@section Styles{
         <link href="~/assets/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
         <link href="~/assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    }

    @section Scripts{
      <!-- iCheck -->
    <script src="~/assets/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>

        <script>
            $(document).ready(function () {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

               var mem = $('#divBirthDate .input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    format: "dd/mm/yyyy"
                });
            });
        </script>
    
}

  <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>@ViewData["Title"]</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="Client">Customers</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>@ViewData["Title"]</strong>
                        </li>
                    </ol> 
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
           
                <div class="col-lg-7">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>@ViewData["Title"]</h5>
                            <div class="ibox-tools">
                               
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form asp-action="Create" asp-controller="Client">
                                <div class="form-group row"><label class="col-lg-2 col-form-label">First Name</label>
                                    <div class="col-lg-10"><input asp-for="FirstName" placeholder="Enter first name .." class="form-control"> 
                                        <span asp-validation-for="FirstName" class="form-text text-danger m-b-none"></span>
                                    </div>
                                </div>

                                <div class="form-group row"><label class="col-lg-2 col-form-label">Middle Name</label>
                                    <div class="col-lg-10"><input asp-for="MiddleName" placeholder="Enter Middle Name .." class="form-control"> 
                                        <span asp-validation-for="MiddleName" class="form-text text-danger m-b-none"></span>
                                    </div>
                                </div>

                                 <div class="form-group row"><label class="col-lg-2 col-form-label">Last Name</label>
                                    <div class="col-lg-10"><input asp-for="LastName" placeholder="Enter last name .." class="form-control"> 
                                        <span asp-validation-for="LastName" class="form-text text-danger m-b-none"></span>
                                    </div>
                                </div>

                                <div class="form-group  row" id="divBirthDate">
                                <label class="col-lg-2 font-normal col-form-label">Birth Date</label>
                                <div class="col-lg-10 input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="date" class="form-control" asp-for="BirthDate">
                                      <span asp-validation-for="BirthDate" class="form-text text-danger m-b-none"></span>
                                </div>
                            </div>

                                 <div class="form-group row"><label class="col-lg-2 col-form-label">Gender</label>
                                    <div class="col-lg-10">
                                        <select asp-for="Gender" class="form-control m-b">
                                            <option value="1">Female</option>
                                            <option value="2">Male</option>
                                            <option value="3">Others</option>
                                        </select>
                                        <span asp-validation-for="Gender" class="form-text text-danger m-b-none"></span>
                                    </div>
                                </div>

                                <div class="form-group row"><label class="col-lg-2 col-form-label">Phone Number</label>
                                    <div class="col-lg-10"><input asp-for="PhoneNumber" placeholder="Enter phone number .." class="form-control"> 
                                        <span asp-validation-for="PhoneNumber" class="form-text text-danger m-b-none"></span>
                                    </div>
                                </div>

                                 <div class="form-group row"><label class="col-lg-2 col-form-label">Email</label>
                                    <div class="col-lg-10"><input asp-for="Email" placeholder="Enter email .." class="form-control"> 
                                        <span asp-validation-for="Email" class="form-text text-danger m-b-none"></span>
                                    </div>
                                </div>

                                 <div class="form-group row"><label class="col-lg-2 col-form-label">Address</label>
                                    <div class="col-lg-10"><input asp-for="Address" placeholder="Enter address .." class="form-control"> 
                                        <span asp-validation-for="Address" class="form-text text-danger m-b-none"></span>
                                    </div>
                                </div>

                                 <div class="form-group row"><label class="col-lg-2 col-form-label">City</label>
                                    <div class="col-lg-10"><input asp-for="City" placeholder="Enter City .." class="form-control"> 
                                        <span asp-validation-for="City" class="form-text text-danger m-b-none"></span>
                                    </div>
                                </div>

                                 <div class="form-group row"><label class="col-lg-2 col-form-label">State</label>
                                    <div class="col-lg-10"><input asp-for="State" placeholder="Enter State .." class="form-control"> 
                                        <span asp-validation-for="State" class="form-text text-danger m-b-none"></span>
                                    </div>
                                </div>

                                 <div class="form-group row"><label class="col-lg-2 col-form-label">Country</label>
                                    <div class="col-lg-10"><input asp-for="Country" placeholder="Enter Country .." class="form-control"> 
                                        <span asp-validation-for="Country" class="form-text text-danger m-b-none"></span>
                                    </div>
                                </div>

                                <div>
                                        <label> <input type="checkbox" class="i-checks"> Is active </label>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-sm btn-white" type="submit">Save Customer</button>
                                        <a asp-action="Index" asp-controller="Client" class="btn btn-sm btn-dark">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
 
        </div>

